<?xml version="1.0"?>
<ruleset name="DocsBot">
	<description>WordPress.org coding and compatibility checks for DocsBot.</description>

	<file>docsbot</file>
	<exclude-pattern>docsbot/languages/*</exclude-pattern>

	<arg name="basepath" value="."/>
	<arg name="colors"/>
	<arg value="ps"/>
	<arg name="extensions" value="php"/>

	<rule ref="WordPress"/>
	<rule ref="PHPCompatibilityWP">
		<include-pattern>docsbot/</include-pattern>
	</rule>

	<config name="testVersion" value="7.4-"/>
	<config name="minimum_supported_wp_version" value="6.5"/>
	<config name="text_domain" value="docsbot"/>
	<config name="prefixes" value="DocsBot,docsbot,DOCSBOT"/>
</ruleset>
