<?xml version="1.0"?>
<ruleset name="DocsBot AI">
	<description>WordPress.org coding and compatibility checks for DocsBot AI.</description>

	<file>docsbot-ai</file>
	<exclude-pattern>docsbot-ai/languages/*</exclude-pattern>

	<arg name="basepath" value="."/>
	<arg name="colors"/>
	<arg value="ps"/>
	<arg name="extensions" value="php"/>

	<rule ref="WordPress"/>
	<rule ref="PHPCompatibilityWP">
		<include-pattern>docsbot-ai/</include-pattern>
	</rule>

	<config name="testVersion" value="7.4-"/>
	<config name="minimum_supported_wp_version" value="6.5"/>
	<config name="text_domain" value="docsbot-ai"/>
	<config name="prefixes" value="DocsBot_AI,docsbot_ai,DOCSBOT_AI"/>
</ruleset>
